
.Container_Dashboard{
    margin: 24px;
    display: flex
;
    align-items: center;
    justify-content: center;
    background: #5D82D5;
    font-family: "Poppins", sans-serif;
    height: 93vh;
    border-radius: 15px;
}

.profile-card{
    width: 500px;
}




.username{
    text-transform: capitalize;
}

.profile-btn{
    margin-top: 1.3rem;
    width: 100%;
}


.profile {
    padding: 30px 0px 30px 0px;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

span.ant-typography.ant-typography-secondary.css-dev-only-do-not-override-77tu7h {
    padding: 5px;
}